DISCORD_TOKEN=Your bot token
# Your bot token

GUILD_ID=Your bot's guildID
# Only put an ID here if you want commands to be registered in one server.

CLIENT_ID=The clientId of your bot
# Your bot's application ID (can be found on Discord or on the Discord Developer Portal)
